body {
    background-color: white;
}

h1 {
    margin-left: 3%;
    color: white;
}

#login_logout {
    text-align: right;
    margin-right: 7%;
}

#menu {
    margin-left: 3%;
    background-color: #f7f7f7;
}

#head {
    background-color: #26ab49;
}
