<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/merakiEasyWebApp/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}">
        <title>{% block title %}Meraki Easy Web App{% endblock %}</title>
    </head>

    <body>

        <div id="head">
            <h1>Meraki Easy Web App</h1>
            <div id="login_logout">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            <br>
        </div>

        <div>
            <div class="row">

                <div id="menu" class="container col-2">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <h2><a class="nav-link" href="{% url 'index' %}">Menu</a></h2>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'claim' %}">Claim devices</a><br>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clone' %}">Clone config</a><br>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'trouble' %}">Troubleshooting</a><br>
                        </li>

                        <li>
                            <a class="nav-link" href="{% url 'support' %}">Support</a><br>
                        </li>
                    </ul>
                </div>

                <div id="content" class="container col-9">
                    {% block app %}
                    {% endblock %}
                </div>

            </div>
        </div>

    </body>
</html>