{% extends "merakiEasyWebApp/base.html" %}
{% load static %}
{% block stylesheet %}{% static 'css/merakiEasyWebApp/form.css' %}{% endblock %}

{% block app %}

    <div class="container-sm">
        <h2>Claim</h2>
        <hr>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Claim">
    </form>

{% endblock %}