{% extends "merakiEasyWebApp/base.html" %}
{% load static %}
{% block stylesheet %}{% static 'css/merakiEasyWebApp/form.css' %}{% endblock %}

{% block app %}

    <div class="container-sm">
        <h2>Clone configuration</h2>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="row">
                <div class="col-1"></div>
                <input class="col-4" type="submit" value="Clone">
                <div class="col-1"></div>
                <input class="col-4" type="submit" value="Replace">
                <div class="col-1"></div>
            </div>
        </form>
    </div>

{% endblock %}