{% extends "merakiEasyWebApp/base.html" %}
{% load static %}
{% block stylesheet %}{% static 'css/merakiEasyWebApp/index.css' %}{% endblock %}

{% block app %}

    <div class="container-sm">
        <h2>Welcome to the Meraki Easy Web App</h2>
        <hr>
    </div>


{% endblock %}