{% extends "merakiEasyWebApp/base.html" %}
{% load static %}
{% block stylesheet %}{% static 'css/merakiEasyWebApp/index.css' %}{% endblock %}

{% block app %}

    <div class="container-sm">
        <h2>Login</h2>
        <hr>
    </div>

    <div class="row">

            <div class="col-4"></div>

            <div class="col-4">

                {% if not success %}
                    <div class="alert alert-danger" role="alert">
                        Incorrect username or password.
                    </div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-success" type="submit">
                        Login
                    </button>
                </form>

            </div>

            <div class="col-4"></div>

        </div>


{% endblock %}