{% extends "merakiEasyWebApp/base.html" %}

{% block app %}

    <div class="container-sm">
        <h2>Support</h2>
        <hr>
        <h3>Need help?</h3>
        <a href="https://meraki.cisco.com/meraki-support/overview/" target="_blank">
            Visit the Meraki Support Site
        </a>
    </div>

{% endblock %}