{% extends "merakiEasyWebApp/base.html" %}
{% load static %}
{% block stylesheet %}{% static 'css/merakiEasyWebApp/form.css' %}{% endblock %}

{% block app %}

    <div class="container-sm">
        <h2>Troubleshooting</h2>
        <hr>
    </div>

    <div class="container-sm">
        <h3>Ping</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ pingForm }}
            <input type="submit" value="Ping">
        </form>
        <br>
    </div>

    <div class="container-sm">
        <h3>Blink LED</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ blinkForm }}
            <input type="submit" value="Blink">
        </form>
        <br>
    </div>

    <div class="container-sm">
        <h3>Reboot Device</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ rebootForm }}
            <input type="submit" value="Reboot">
        </form>
    </div>

{% endblock %}